language: python
python:
  - "2.7"

# command to let run a real GUI application or web browser
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  
# command to install dependencies
install: "pip install -r requirements.txt"
